<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" th:href="@{/css/colori.css}" />
<title>Aggiorna un corso</title>
</head>
<body>
	<h1>Universita di Paco</h1>
	<h3>Inserisci i dati e aggiorna il corso</h3>
	<form action="#"
		th:action="@{/aggiornaCorso/{codice}(codice=${corso.codice})}"
		th:object="${corso}" method="POST">

		<table>
			<thead>
				<tr>
					<th>Codice</th>
					<th>Nome</th>
					<th>Indirizzo</th>
					<th>Numero esami</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input type="text" th:field="*{codice}" id="codice"
					th:disabled="${codice != null}"
						placeholder="Inserisci il codice del corso"></td>

					<td><input type="text" th:field="*{nome}" id="nome"
						placeholder="Modifica il nome del corso"></td>

					<td><input type="text" th:field="*{indirizzo}" id="indirizzo"
						placeholder="Modifica l’indirizzo del corso"></td>

					<td><input type="number" th:field="*{numeroEsami}" 
						id="numeroEsami" min="10" placeholder="Modifica il numero di esami"></td>

					
					
					

				</tr>
			</tbody>

		</table>

		<input type="submit" value="Aggiorna corso" />

	</form>
	<input type="button" value="Torna indietro" 
onClick="history.go(-1);return true;" 
name="button">
<a href="http://localhost:8080"> Torna alla home</a>
	
</body>
<footer> <p>Creato da paco per Universita' paco &copy; 2022  </p></footer>
</html>